* {
	margin: 0;
	box-sizing: border-box;
}

button {
	margin: 20px auto 20px 20px;
}

#container {
	width: 514px;
	height: 514px;
	display: grid;
	margin: 0 auto auto 20px;
	border: 0.1px solid black;
}

.etch-a-sketch {
	border: 0.1px solid lightgray;
}